.react-chatbot-kit-user-avatar{
  display: none;
}

.react-chatbot-kit-chat-bot-avatar{
  display: none;
}

.react-chatbot-kit-chat-container{
  width: 100% !important;
  height: 100% !important;
}
.react-chatbot-kit-chat-inner-container{
  height: 750px !important;
}
.react-chatbot-kit-chat-bot-message{
  margin-left: 0px !important;
  width: 90% !important;
}

/* .react-chatbot-kit-chat-input-container{
  bottom: 25px !important;
} */



.react-chatbot-kit-chat-message-container{
  height: 100% !important;
}